<div>
  <h1>招聘信息</h1>

  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr>
        <th>标题</th>
        <th>发布时间</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.title, topic.href, target: '_blank' %></td>
          <td><%= topic.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
