mysql: &mysql
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  database: employment_development
  <<: *mysql

test:
  database: employment_test
  <<: *mysql

production:
  database: employment_production
  <<: *mysql
