<!DOCTYPE html>
<html>
<head>
  <title>招聘信息</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render 'share/navigation' -%>
  <%= yield %>
</body>
</html>
